<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    Super Rentals Representatives would love to help you<br />
    choose a destination or answer any questions you may have.
  </p>
  <p>
    Super Rentals HQ
    <address>
      1212 Test Address Avenue<br />
      Testington, OR 97233
    </address>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br />
    <a href="mailto:superrentalsrep@emberjs.com">superrentalsrept@emberjs.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    About Us!
  {{/link-to}}
</div>
